{% extends "base.html" %} 
<!-- {% block title %}?{% endblock %}     vai ter que título? -->
{% block content %}
    <h6 align="left" class="mt-4">CSV Files</h6>

    <button type="submit" class="btn btn-primary">Import File</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Email</td>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
        </thead>
        <tbody>
            {% for ? in ? %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
   
   
{% endblock %}