.searchbar {
  border-radius: 8px;
  width: 384px;
  height: 35px;
  border: 1px solid #DBDEE2;
  background: white;
}

.search-input[type=text] {
  border: none;
  margin-left: 15px;
  outline: none;
}