{% extends "base.html" %} 
{% block title %}Users{% endblock %} 
{% block content %}
    <h3 align="left" class="my-4">Users</h3>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Email</td>
                <td>Institution</td>
                <td>Roles</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                      {% if user.active %}
                        <i class="fa fa-user" style="color:green"></i> 
                      {% else %}
                      <i class="fa fa-user"></i> 
                      {% endif %}
                      {{ user.email }}
                    </td>
                    <td>{{user.institution_code}}</td>
                    <td>
                        
                        {% for role in user.roles %}
                            <p>
                            {{role.name}}  <button type="button" class="close" onClick="deleteRoleFromUser({{ user.id }}, '{{ role.name }}')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </p>
                        {%endfor%}
                    
                    </td>
                    <td>
                        <a class="btn btn-link" href="/users/{{user.id}}">Edit</a>
                        | 
                        <button type="button" class="btn btn-link" onClick="openRoleModal({{ user.id }})">
                            Add role
                        </button>
                        |
                        <button type="button" class="btn btn-link" onClick="changeUserActive({{ user.id }}, '{{user.active}}')">
                          {% if user.active %}
                            Deactivate
                          {% else %}
                            Activate
                          {% endif %}
                      </button>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Assign Role</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Role:</label>
                  <select class="form-control" id="selectedRole">
                      <option value="0">Select an option</option>
                    {% for role in roles %}
                        <option value="{{role.name}}">{{role.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="addRoleToUser()">Add</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
