@import 'Shared/MainLayout';
@import 'Shared/NavMenu';

@import 'Collections/Index';
@import 'Collections/Collection';
@import 'Collections/SpecimenCard';
@import 'Collections/CollectionCard';
@import 'Collections/Workflow';

#blazor-error-ui {
    display: none;
}

h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px; 
}