{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<div class="main-container">
    <div class="main-container-header">
        <div class="left">
            <p class="xsmall">All</p>
        </div>
        <div class="right">
            <p class="xsmall">View list</p>
            <p class="xsmall">Sort</p>
        </div>
    </div>
    <div class="main-container-body">
        <div class="add-collection">
            <img src="../static//images/plus.png" alt="Plus icon" >
            <p>New collection</p>
        </div>
    </div>

</div>

{% endblock %}