{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<div class="main-container">
    <div class="main-container-header">
        <div class="left">
            <p class="xsmall">All</p>
        </div>
        <div class="right">
            <div class="list-sort">
                <p class="xsmall">View list</p> 
                <img src="../static//images/down-filled-triangular-arrow.png" alt="Down arrow" >
            </div>
            <div class="list-sort">
                <p class="xsmall">Sort</p> 
                <img src="../static//images/down-filled-triangular-arrow.png" alt="Down arrow" >
            </div>
        </div>
    </div>
    <div class="main-container-body p-4">
        <div class="row">
            <div class="col-md-3 pb-4">
                <div class="add-collection">
                    <img src="../static//images/plus.png" alt="Plus icon" >
                    <p>New collection</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- <div class="add-collection">
            <img src="../static//images/plus.png" alt="Plus icon" >
            <p>New collection</p>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/images/BRIT240602.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <div class="collection-card">
            <img src="" alt="">
            <h3>BRIT</h3>
            <p>01/01/2022</p>
        </div>
        <div class="collection-card">
            <img src="" alt="">
            <h3>BRIT</h3>
            <p>01/01/2022</p>
        </div>
        <div class="collection-card">
            <img src="" alt="">
            <h3>BRIT</h3>
            <p>01/01/2022</p>
        </div>
        <div class="collection-card">
            <img src="" alt="">
            <h3>BRIT</h3>
            <p>01/01/2022</p>
        </div>
        <div class="collection-card">
            <img src="" alt="">
            <h3>BRIT</h3>
            <p>01/01/2022</p>
        </div>
        <div class="collection-card">
            <img src="" alt="">
            <h3>BRIT</h3>
            <p>01/01/2022</p>
        </div> -->
    </div>

</div>

{% endblock %}