{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
    <h3 align="left" class="mt-4">{{institution.name}} ({{institution.code}})</h3>
    <p class="mb-4">Collections</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Code</td>
                <td>Name</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
                <tr>
                    <td>
                        <a href="/collections/{{collection.code}}">{{collection.code}}</a>
                    </td>
                    <td>{{collection.name}}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
        {% if not collections|length %}
            <tfoot>
                <td colspan="3">
                    No collections found! Create your first collection below.
                </td>
            </tfoot>
        {% endif %}
    </table>
    
    {% if institution.code == 'default' or user.has_role('IM') or user.has_role('admin') %}
    <form method="POST" class="form-inline">
        <div class="form-group">
            <label for="collection" class="mr-2">Name:</label>
            <input type="text" name="collection" id="collection" class="form-control" />
        </div>
        <div class="form-group mx-2">
            <label for="code" class="mr-2">Code:</label>
            <input type="text" name="code" id="code" class="form-control" />
        </div>
        
        
        <button type="submit" class="btn btn-primary">Add Collection</button>
        
      </form>
    {% endif %}
   
   
{% endblock %}