{% extends "base.html" %} 
{% block title %}Files{% endblock %} 
{% block content %}



<section class="file-page">
    <header>
        <div class="header-wrapper">
            <div class="left">
                <h6 class="header-large">File Status</h6>
            </div>
            <div class="right">
                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p class="small">Show only errors</p>
            </div>
        </div>
        <p class="small">Keep track of file upload & transfer progress.</p>
    </header>

    <div class="grid">
        <div class="grid-wrapper">
            <div class="grid-headers">
                <div class="grid-header-item">
                    <p class="xsmall">File Name</p>
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">Upload</p> 
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">MetaData</p>
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">Transfer</p>
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">Named</p>
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">QC</p>
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">Optimise</p>
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">Upload</p>
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">URL</p>
                </div>
                <div class="grid-header-item">
                    <p class="xsmall">Delete</p>
                </div>
            </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <!-- <i class="fa-regular fa-circle-check"></i> -->
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
                <div class="grid-items">
                    <div class="grid-item">
                        <p class="small">photo-name</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                    <div class="grid-item">
                        <p class="small">icon</p>
                    </div>
                </div>
        </div>
    </div>
</section>


{% endblock %}