{% extends "base.html" %} 
{% block title %}Specimens{% endblock %} 
{% block content %}

<div class="main-container" x-data="specimens">
    <div class="main-container-header">
        <div class="left">
            <p class="xsmall">All / {{collection.name}}</p>
        </div>
        <div class="right">
            <p class="xsmall">View list</p>
            <p class="xsmall">Sort</p>
        </div>
    </div>
    <div class="main-container-body p-4">
        <div class="row">
            
            <div class="col-md-3 pb-4">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="collection-card">
                    <img src="../static/images/BRIT240602.jpg" alt="">
                    <div class="card-body">
                        <h5>BRIT</h5>
                        <p>01/01/2022</p>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>

{% endblock %}