{% extends "../base.html" %}
{% block title %}Edit user{% endblock %} 
{% block content %}
    <h3 align="left" class="my-4">Edit User {{edituser.first_name}} {{edituser.last_name}}</h3>
    
    <form method="POST">
        <div class="form-group">
            <label for="firstName">Institution</label>
            <select class="form-control" name="institutionid">
                {% for inst in institutions %}
                    {% if inst.id == edituser.institution_id %}
                        <option value="{{inst.id}}" selected>{{inst.code}}</option>
                    {% else %}
                        <option value="{{inst.id}}">{{inst.code}}</option>
                    {% endif %}
                {% endfor %}
            </select>
          </div>
                   
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}