{% extends "../base.html" %}
{% block title %}Roles{% endblock %} 
{% block content %}
    <h3 align="left" class="my-4">Roles</h3>
    
    <div class="form-container">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.name }}</td>
                        <td>{{ role.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <form method="POST" class="form-inline">
            <div class="form-group">
                <label for="name" class="mr-2">Role:</label>
                <input type="text" name="name" id="name" class="form-control" />
            </div>
            <div class="form-group mx-2">
                <label for="description" class="mr-2">Description:</label>
                <input type="text" name="description" id="description" class="form-control" />
            </div>
            
            
            <button type="submit" class="btn btn-primary">Add Role</button>
            
          </form>
    </div>
   
   
{% endblock %}