@inherits LayoutComponentBase

<CascadingValue Value="Socket">
<div class="main-layout">
    <header>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>
</div>
</CascadingValue>

@inject IConfiguration Config
@code {
    public SocketIOClient.SocketIO Socket;

    protected override async Task OnInitializedAsync()
    {
        Socket = new SocketIOClient.SocketIO(Config["Blossom:Authority"]);
        await Socket.ConnectAsync();
    }
}