<nav class="nav-menu">
    <ul>
        <li>
            <NavLink href="/Collections" Match="NavLinkMatch.Prefix">
                Collections
            </NavLink>
        </li>
        <li>
            <NavLink href="/Settings" Match="NavLinkMatch.Prefix">
                Settings
            </NavLink>
        </li>
    </ul>
    <div>
        <img src="/images/notification.svg" alt="Notifications" />
        <button>Log In</button>
    </div>
</nav>
