.collection {
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 24px;

    .specimen-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
}