@page "/collections/{Id:int}"

<header>
    <h1>@Model?.Name</h1>
    <button>Upload Specimens</button>
</header>

<section class="collection">
    @if (Specimens != null)
    {
        @foreach (var specimen in Specimens.Specimens)
        {
            <SpecimenCard Specimen="specimen" />
        }
    }
</section>
@code {
    [Parameter] public int Id { get; set; }

    CollectionResponse? Model;
    SpecimensResponse? Specimens;
    protected override async Task OnInitializedAsync()
    {
        Model = await TorchCommands.GetCollectionAsync(Id);
        Specimens = await TorchCommands.GetSpecimensAsync(Id, null, 1, 50);
    }
}
