@page "/collections/{Id:int}"

<section class="collection">
    <section>
        <header>
            <h1>@Model?.Name</h1>
            <button>Upload Specimens</button>
        </header>

        @if (Specimens != null)
        {
            @foreach (var specimen in Specimens.Specimens)
            {
                <SpecimenCard Specimen="specimen" />
            }
        }
    </section>
    <Workflow />
</section>


@code {
    [Parameter] public int Id { get; set; }

    CollectionResponse? Model;
    SpecimensResponse? Specimens;
    protected override async Task OnInitializedAsync()
    {
        Model = await TorchCommands.GetCollectionAsync(Id);
        Specimens = await TorchCommands.GetSpecimensAsync(Id, null, 1, 50);
    }
}
