{% extends "../base.html" %}
{% block title %}Settings{% endblock %} 
{% block content %}

<section class="settings-page" x-data="collections" xmlns:x-on="http://www.w3.org/1999/xhtml">
    <header>
        <h6>Settings</h6>
        <p class="small">Adjust settings for collection.</p>
    </header>
    <template class="row" x-if="collectionSaved">
        <div class="col-sm-12 p-0">
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                Collection saved!
                <button type="button" class="close" data-dismiss="alert" x-on:click="collectionSaved = false">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        </div>
        
    </template>
    <div class="row">
        <div class="col-sm-2">
            <ul class="collections-side-list">
                <template x-for="(c,index) in collections" :key="index">
                    <li x-text="c.code" :class="{'selected-collection': selectedCollection.id == c.id}" x-on:click="selectCollection(c)"></li>
                </template>
            </ul>
        </div>
        <div class="col-sm-10">
            
            <template x-if="selectedCollection != null">
                <div class="form-container">
                    <h2 x-text="selectedCollection.name"></h2>

                    <form>
                        <div class="form-group">
                            <label for="inputName">Name*</label>
                            <input id="inputName" type="text" class="form-control" x-model="selectedCollection.name" required>
                        </div>
                        <div class="form-group">
                            <label for="inputCode">Code*</label>
                            <input id="inputCode" type="text" class="form-control" x-model="selectedCollection.code" required>
                        </div>
                        <div class="form-group">
                            <label for="inputRegex">Regex</label>
                            <template x-for="(r,index) in selectedCollectionRegexList" :key="index">
                                <div style="display: flex; align-items:baseline;">
                                    <input id="inputRegex" type="text" class="form-control mb-2 mr-2" x-model="r" @input="saveRegex($event.target.value,index)">
                                    <button class="btn-close" type="button" @click="deleteRegex(index)">
                                        <img src="/static/images/close_icon.svg" />
                                    </button>
                                </div>
                            </template>
                            <button type="button" class="btn btn-default float-right" @click="addNewRegex()">Add new <i class="fa fa-plus"></i></button>
                        </div>
                        <div class="form-group pt-4">
                            <label for="inputDefaultPrefix">Default Prefix</label>
                            <input id="inputDefaultPrefix" type="text" class="form-control" x-model="selectedCollection.default_prefix">
                        </div>
                        <div class="form-group">
                            <label for="inputWorkflow">Workflow*</label>
                            <select class="form-control" id="inputWorkflow" x-model="selectedCollection.workflow">
                                <option value="process_specimen" selected>Process Specimen</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="inputFolder">Folder*</label>
                            <input id="inputFolder" type="text" class="form-control" x-model="selectedCollection.collection_folder" required>
                        </div>
                        <div class="form-group">
                            <label for="inputProjectids">Project IDs</label>
                            <input id="inputProjectids" type="text" class="form-control" x-model="selectedCollection.project_ids">
                        </div>
                        <button type="button" class="btn btn-primary" x-on:click="saveCollectionSettings()">Save Changes</button>
                    </form>
                </div>
                
            </template>
                
            
        </div>
    </div>
</section>



{% endblock %}