<figure class="specimen-card" @onclick=Open>
    <img src="@ImageUrl" alt="@Specimen.Catalog_number" />
    <figcaption>
        <h2>@Specimen.Catalog_number</h2>
        <aside>
            @Status
        </aside>
    </figcaption>
</figure>

@inject IConfiguration Config
@inject IModalService Modal

@code {
    [Parameter] public SpecimenResponse Specimen { get; set; } = null!;
    [CascadingParameter] public SocketIOClient.SocketIO Socket { get; set; }
    SpecimenResponse LocalSpecimen;
    string? Status;

    protected override async Task OnInitializedAsync()
    {
        LocalSpecimen = Specimen;
        Socket.On($"specimen_updated_{Specimen.Id}", (response) =>
        {
            LocalSpecimen.Catalog_number = response.GetValue<string>(0);
            Status = response.GetValue<string>(1);
            StateHasChanged();
        });
    }

    string? ImageUrl => (Specimen.Card_image?.External_url?.StartsWith("http") == true ? "" : Config["Blossom:Authority"])
        + Specimen.Card_image?.External_url;

    async Task Open()
    {
        var fullSpecimen = await TorchCommands.GetSpecimenAsync(Specimen.Collection_id, Specimen.Id);
        var parameters = new ModalParameters().Add("Specimen", fullSpecimen);
        var options = new ModalOptions() { Size = ModalSize.Automatic };
        var modal = Modal.Show<SpecimenDetail>(fullSpecimen.Catalog_number, parameters, options);
        await modal.Result;
    }
}
