.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 360px;
  height: 490px;
}

.box2 {
  width: 360px;
  height: 675px;
}
  

body {
  margin: 0px;
}

.header {
  margin-bottom: 24px;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  color: var(--grey-900);
  text-align: center;
  line-height: 127%;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  color: var(--grey-500);
  text-align: center;
  line-height: 150%;
}

h3 {
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-500);
  text-align: center;
  line-height: 143%;
}

p {
  margin-bottom: 6px;
  width: 360px;
  height: 70px;
}

label {
  font-weight: 500;
  font-size: 14px;
  color: var(--grey-700);
  line-height: 20px;
  width: 36px;
}

input {
  padding: 10px 14px;
  margin-top: 8px;
  width: 330px;
  border: 1px solid var(--grey-300);;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.row {
  display: flex;
}

.row p {
  margin-top: 10px;
  justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    height: 0px;
}

.row-left {
  width: 255px;
}

.row-left p {
  float: left;
}

.row-left input {
  width: 16px;
  border: 1px solid var(--grey-300);
  border-radius: 4px;
}

.row-left label {
  width: 95px;;
}

.row-right {
  float: right;
}

a {
  color: var(--primary-700);
  cursor: pointer;
  text-decoration: none;
}

button input[type="submit"] {
  background: var(--primary-600);
  color: var(--white);
  padding: 10px 18px;
  border-radius: 8px;
  box-shadow: var(--shadow-box-xs);
  width: 360px;
  height: 44px;
}
