.grid {
  background: var(--white);


  .grid-wrapper {
    box-shadow: var(--shadow-box-md);
    border: 1px solid var(--grey-200);
    border-radius: 8px;

    .grid-headers {
      color: var(--grey-500);
      background: var(--grey-50);
      font-weight: var(--font-weight-500);
      display: grid;
      align-items: center;
      text-align: center;
      /* grid-template-columns: 3fr repeat(9, 1fr); */
      grid-template-columns: 300px repeat(9, 85.7px);

      .grid-header-item {
        padding: 12px 24px;
        font-weight: var(--font-weight-500);

        p.xsmall {
          font-weight: var(--font-weight-500);
        }

        &:first-of-type {
          text-align: left;
          max-width: 316px;
        }
      }
    }

    .grid-items {
      border-top: 1px solid var(--grey-200);
      background: var(--white);
      color: var(--grey-900);
      display: grid;
      align-items: center;
      text-align: center;
      /* grid-template-columns: 3fr repeat(9, 1fr); */
      grid-template-columns: 300px repeat(9, 85.7px);

      .grid-item {
        padding: 12px 24px;
        font-weight: 500;
      }

      &:last-of-type {
        border-radius: 0px 0px 8px 8px;
      }


      &:first-of-type {
        text-align: left;
        max-width: 316px;
      }
    }
  }
}