#dropbox {
  border: 2px dashed #757575;
  padding: 20px;

  &.active {
    border: 4px dashed #00ff9d;
  }
}

.progress-trough {
  border: 1px solid #000000;
  height: 24px;
  width: 100%;
  position: relative;
}