.main-layout {
  display: grid;
  grid-template-rows: 80px auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #f9fafb;
}
.main-layout > header {
  background: #ffffff;
  padding: 0 7vw;
}
.main-layout > main {
  padding: 65px 7vw;
  overflow-y: auto;
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-menu ul, .nav-menu > div {
  display: flex;
  gap: 32px;
}
.nav-menu a {
  font-size: 16px;
  color: #667085;
}
.nav-menu a.active {
  color: var(--primary-500);
}

#blazor-error-ui {
  display: none;
}
