{% extends "security/base.html" %}
{% from "/_macros.html" import render_field_with_errors, render_field %}

{% block content %} 

<div class="content">
  <div class="box2">
    <div class="header">
      <h1>{{ _('Create an account') }}</h1>
      <h2>Create an account to access TorchHub</h2>
    </div>
    <div class="content2">
      <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_field_with_errors(register_user_form.first_name) }}
        {{ render_field_with_errors(register_user_form.last_name) }}
        {{ render_field_with_errors(register_user_form.email) }}
        {{ render_field_with_errors(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
          {{ render_field_with_errors(register_user_form.password_confirm) }}
        {% endif %}
        <button>{{ render_field(register_user_form.submit) }}</button>
        <h3>Already have an account? <a href="/login">Log in</a></h3>        
      </form>
    </div>
  </div>
</div>

{% endblock %}