.settings-page .content-wrapper {
  background: var(--white);
  padding: 32px 24px;
  border-radius: 8px;
  box-shadow: var(--shadow-box-md);
  color: var(--grey-700);

  .settings-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 92px;


    .sidebar {
      color: var(--grey-500);


      p {
        font-weight: var(--font-weight-500);
      }

      .sidebar-item {
        padding: 8px 12px;
        border-radius: 6px;
        margin-bottom: 8px;

        &:hover {
          background: var(--grey-50);
          color: var(--grey-700);
          cursor: pointer;
        }

        &:last-of-type {
          margin-bottom: 32px;
        }
      }

      button {
        background: var(--white);
        border-radius: 8px;
        box-shadow: var(--shadow-box-xs);
        border: 1px solid var(--grey-300);
        padding: 10px 16px;
        color: var(--grey-700);
        font-size: 14px;
        line-height: 143%;
        font-weight: var(--font-weight-500);
      }
    }

    .main-content {
      .grid-block {
      }

      border-bottom: 1px solid var(--grey-200);
      padding-top: 25px;
      padding-bottom: 20px;
      display: flex;

      &:first-of-type {
        padding-top: 0px;
        display: block;
      }

      .block-title {
        flex: 1;
        max-width: 256px;


        p {
          font-weight: var(--font-weight-500);
        }
      }

      .card-details .block-content {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 16px;
      }

      .grid-block .block-content {
        flex: 1;

        .input-wrapper {
          .Expiry {
            max-width: 112px;
          }

          .cvv {
            max-width: 112px;
          }

          label, input {
            width: 100%;
          }

          label {
            margin-bottom: 6px;
          }

          input {
            border-radius: 8px;
            box-shadow: var(--shadow-box-xs);
            border: 1px solid var(--grey-300);
            padding: 10px 14px 10px 10px;
            max-height: 44px;
            color: var(--grey-900);

            &::placeholder {
              color: var(--grey-300);
            }

          }
        }
      }


      .card-email {
        .input-wrapper {
          margin-bottom: 16px;
        }

        .block-content {
          flex: 1;

          .input-wrapper input {
            padding-left: 42px;
            width: 100%;
          }
        }

        .block-title p:last-of-type {
          color: var(--grey-500);
        }
      }

      .grid-block .block-content {
        .add {

          display: flex;
          align-items: center;
          color: var(--grey-500);
        }

        i {
          margin-right: 12px;
        }

        input {
          margin-bottom: 6px;
        }

        .hint-text {
          color: var(--grey-500);
        }
      }


      .double-input .block-content {
        display: flex;
        column-gap: 24px;
      }

      .dropdown .block-content select {
        border: 1px solid var(--grey-300);
        border-radius: 8px;
        box-shadow: var(--shadow-box-xs);
        padding: 10px 14px;
        width: 100%;
      }

      .text-markup {
        .block-content {
          select {

            border: 1px solid var(--grey-300);
            border-radius: 8px;
            box-shadow: var(--shadow-box-xs);
            padding: 10px 14px;
            width: 50%;
            margin-bottom: 12px;
          }

          textarea {
            color: var(--grey-900);
            font-size: 16px;
            line-height: 150%;
            border: none;
            width: 100%;
            border: 1px solid var(--grey-300);
            box-shadow: var(--shadow-box-xs);
            border-radius: 8px;
            padding: 10px 14px;
            margin-bottom: 6px;
          }
        }

        .block-title p:nth-child(2) {
          color: var(--grey-500);
        }
      }

      .checkboxes {
        .block-content {
          .input-wrapper {
            input {

              border-radius: 0;
              box-shadow: none;
              border: none;
              padding: 0;
              max-height: none;
              margin-right: 8px;
              width: auto;
            }

            label {
              width: auto;
            }
          }

          p {
            color: var(--grey-500);

            &:nth-child(2) {
              color: var(--grey-500);
            }
          }
        }
      }


      .radios {
        .block-title p:nth-child(2) {
          color: var(--grey-500);
        }


        .block-content {
          .input-wrapper {
            margin-bottom: 20px;

            input {

              border-radius: 0;
              box-shadow: none;
              border: none;
              padding: 0;
              max-height: none;
              margin-right: 8px;
              width: auto;
            }

            label {
              width: auto;
              margin-bottom: 0px;
            }
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }

      .team-management {
        .block-title {
          a {
            color: var(--primary-700);
            font-weight: var(--font-weight-500);
          }

          p:nth-child(2) {
            color: var(--grey-500);
            margin-bottom: 12px;
          }
        }

        .block-content {
          .grid {
            max-width: 604px;

            .grid-wrapper {
              .grid-headers {

                grid-template-columns: repeat(3, 1fr);
                text-align: left;
              }


              .grid-items {
                grid-template-columns: repeat(3, 1fr);
              }

              .grid-item {
                display: flex;
                align-items: center;
                padding: 12px 0px 12px 24px;

                .username {
                  color: var(--grey-900);
                  font-weight: var(--font-weight-500);
                }

                .user-email {
                  color: var(--grey-500);
                }

                img {
                  margin-right: 12px;
                }

                a {
                  color: var(--grey-500);
                  font-size: 14px;
                  line-height: 143%;
                  font-weight: var(--font-weight-500);

                  &:hover {
                    color: var(--primary-700);
                    text-decoration: none;
                  }
                }

                .delete {
                  margin-right: 12px;
                }
              }


              .cta-buttons {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}