{% extends "base.html" %} 
{% block title %}Workflows Settings{% endblock %} 
{% block content %}
    <h3 align="left" class="my-4">Workflows Settings</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Workflow ID</td>
                <td>Path</td>
                <td>Edit/Delete</td>
            </tr>
        </thead>
        <tbody>
            {% for ws in workflowsettings %}
            <tr>
                <td>{{ ws.id }}</td>
                <td>{{ ws.workflow_id }}</td>
                <td>{{ ws.watch_directory_path }}</td>
                <td>
                    <a class="btn btn-link" href="/workflows/settings/{{ ws.id }}">Edit</a>
                    <button type="button" class="btn btn-link" onClick="deleteWorkflowSetting({{ ws.id }})">Delete</button>
                </td>             
            </tr>
            {% endfor %}
        </tbody>        
    </table>
   
    <form method="POST" class="form-inline">
        <div class="form-group">
            <label for="workflow_id" class="mr-2">Workflow ID:</label>
            <input type="text" name="workflow_id" id="workflow_id" class="form-control" />
        </div>
        <div class="form-group mx-2">
            <label for="watch_directory_path" class="mr-2">Path:</label>
            <input type="text" name="watch_directory_path" id="watch_directory_path" class="form-control" />
        </div>        
        
        <button type="submit" class="btn btn-primary">Add Workflow</button>
        
      </form>
   
{% endblock %}