{% extends "base.html" %} 
{% block title %}Import{% endblock %} 
{% block content%}

<h3 align="left" class="mt-4">Import</h3>
<p class="mb-4">Press the button and select a CSV file to import</p>

<!-- ----------------need to define ids, action, enctype, name-------------------- -->
<form id="" action="" method="POST" enctype="">
  <strong>Files:</strong><br>
  Select files OR drag them into the box below.
  <input id="" type="file" name="" accept=".csv" multiple class="mb-4" value="Import File"><p>
  
  <div id="" class="mb-4">
      Drag and Drop Files Here
  </div>
  <button type="submit" class="btn btn-primary btn-sm mb-4" id="">Import File</button>
</form>

<table class="table table-bordered">
  <thead>
    <tr>
      {% for column in header %}
      <td>{{column}}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in reader %}
    <tr>
      {% for item in row %}
      <td>{{item}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
