{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}

<div class="content">
    <div class="box">
      <div class="header">
        <h1>{{ _('Forgot password') }}</h1>
        <h2>Enter your email address to receive instructions to reset your password</h2>
      </div>
      <div class="content2">
        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
          {{ forgot_password_form.hidden_tag() }}
          {{ render_field_with_errors(forgot_password_form.email) }} 
          <button>{{ render_field(forgot_password_form.submit) }}</button>        
        </form>
      </div>
    </div>
</div>

{% endblock %}